.label {
    font-size: 14px;
}

.icon {
    width: 24px;
    height: 24px;
}


/* @media screen and (max-width: 768px) {
    .container {
        gap: 4.79px !important;
    }

    .label {
        font-size: 10px;
    }

    .icon {
        width: 16px;
        height: 16px;
    }
} */