.dropdown {
    padding: 12px;
    cursor: pointer;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    transition: .3s ease-out;
}

.dropdown:hover {
    background: rgba(255, 255, 255, 0.1);
}

.value {
    flex-grow: 1;
}