:root {
  --max-width: 1400px;

  /*--main-gradient: #main/gradient*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #18212D;
  color: #fff;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 20px;
}

.ant-drawer,
.ant-flex {
  font-family: inherit;
}

strong {
  font-weight: 600;
}


@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
}