.header {
    gap: 10px
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.titleLabel {
    font-size: 32px;
    font-weight: 600;
}

.networkType {
    max-width: 330px;
}

@media screen and (max-width: 500px) {
    .networkType {
        max-width: unset;
    }
}