.popover {
    top: 10px !important;
    /* unknown bug, if we set transform: translateX we have a twitching change of popover position after first render */
    left:  calc(50% - 182px) !important;
    inset: unset;
    transform-origin: unset;
    max-width: 95vw;
}

.popover :global(.ant-popover-title) {
    margin-bottom: 0px;
}

.popover :global(.ant-popover-arrow) {
    left: 50% !important;
}

.text {
    font-weight: 400;
}

@media screen and (max-width: 400px) {
    .popover {
      left: 2.5vw !important;
    }
  }