.page {
    max-width: 558px;
    margin: auto;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.titleLabel {
    font-size: 32px;
    font-weight: 600;
}