.page {
    max-width: 558px;
    margin: auto;
}

.header {
    gap: 10px;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.titleLabel {
    font-size: 32px;
    font-weight: 600;
}

.networkType {
    max-width: 330px;
}

@media screen and (max-width: 550px) {
    .networkType {
        max-width: unset
    }
}